---
layout: default
---
<div class="dk-with-toc">
  <article>
    <header class="dk-pagehead">
      <h1>{{ page.title }}</h1>
      <div class="dk-meta">
        {%- if page.date %}<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>{% endif %}
        {%- if page.author %}<span>{{ page.author }}</span>{% endif %}
        {%- for tag in page.tags %}<span>#{{ tag }}</span>{% endfor %}
      </div>
    </header>

    <div class="dk-prose" data-dk-prose>
      {{ content }}
    </div>
  </article>

  {%- include toc.html -%}
</div>
